@model SP.Web.Models.LocalPasswordModel

<p>
    Vous n'avez pas encore de mot de passe. Enregistrer votre mot de passe qui vous permet de vous connecter sans passer par un autre service.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input class="green-button" type="submit" value="Enregistrer" />
    </fieldset>
}
