@model List<SP.Web.Models.ArticleIndex>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/css/article")

}


@{
    if (Model.Count > 0)
    {
        foreach (SP.Web.Models.ArticleIndex item in Model)
        {
    <div class="article">
        <p class="date">
            <span class="day">@item.Publication.Value.Day</span>
            @{
            System.Globalization.CultureInfo culture = System.Globalization.CultureInfo.GetCultureInfo("fr-FR");
             }
            <span class="month">@item.Publication.Value.ToString("MMM", culture)</span>
        </p>
        <h2 class="title">
            @if(item.isLink)
            {
                <a href="@item.LinkUrl">@item.Title</a>
            }
            else
            {
                @Html.ActionLink(item.Title, "Display", new { id = item.Id, titre = item.HtmTitle })
            }
        </h2>
        
        <p>
            @MvcHtmlString.Create(item.Abstract)
        </p>
    </div>
        }
    }
    else
    { 
    <h2>
        Aucun article n'a été enregistré pour le moment.</h2>
    }
}