@model SP.Web.Models.ArticleEdit
@{
    ViewBag.Title = "Modifier l'article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    tinymce.init({
        selector: "textarea#Content",
        theme: "modern",
        plugins: [
             "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
             "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
             "save table contextmenu directionality emoticons template paste textcolor"
        ],
        content_css: "css/content.css",
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons",
        style_formats: [
             { title: 'Bold text', inline: 'b' },
             { title: 'Red text', inline: 'span', styles: { color: '#ff0000' } },
             { title: 'Red header', block: 'h1', styles: { color: '#ff0000' } },
             { title: 'Example 1', inline: 'span', classes: 'example1' },
             { title: 'Example 2', inline: 'span', classes: 'example2' },
             { title: 'Table styles' },
             { title: 'Table row 1', selector: 'tr', classes: 'tablerow1' }
        ]
    });
</script>

@section featured {
    <div class="p2-eb-theme-bg-blue">
        <div class="p2-content-width">
            <h1>Modifier votre article.</h1>
            <h2>Il vous suffit de renseigner les informations du formulaire.</h2>
            <p>
                Utiliser les outils avancés d'édition pour personnaliser le contenu de votre article.
            </p>
        </div>
    </div>
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="large-editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Category)
        </div>
        <div class="large-editor-field">
            @Html.EditorFor(model => model.Category)
            @Html.ValidationMessageFor(model => model.Category)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Abstract)
        </div>
        <div class="large-editor-field">
            @Html.TextAreaFor(model => model.Abstract, new { style = "width:100%; height:44px;" })
            @Html.ValidationMessageFor(model => model.Abstract)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Video)
        </div>
        <div class="large-editor-field">
            @Html.EditorFor(model => model.Video)
            @Html.ValidationMessageFor(model => model.Video)
        </div>

        <div class="editor-field">
            @Html.TextAreaFor(model => model.Content, new { style = "width:100%; height:800px;" })
            @Html.ValidationMessageFor(model => model.Content)
        </div>
        
        <p>
            <input class="green-button" type="submit" name="submitButton" value="Enregistrer" />
        </p>

        
    </fieldset>
}

@using (Html.BeginForm("ImageUpload", "Article", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.Id)
    <input name="UploadPicture" type="file" />
    <input class="green-button" style="width:240px" type="submit" value="Télécharger une image" />
}

@using (Html.BeginForm("FileUpload", "Article", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.Id)
    <input name="UploadFile" type="file" />
    <input class="green-button" style="width:240px" type="submit" value="Joindre un fichier" />
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
